- content_for :title do
  styleguide
- content_for :body_id do
  styleguide-index

%nav
  %a{:href => "#typography"}>Typography
  %a{:href => "#buttons"}>Buttons
  %a{:href => "#forms"}>Forms
  %a{:href => "#lists"}>Lists
  %a{:href => "#palette-swatch"}>Palette Swatch

%article#typography
  = render 'styleguide/typography/typography'

%article#buttons
  = render 'buttons'

%article#forms
  = render 'styleguide/form_elements/form_elements'

%article#lists
  = render 'lists'

%article#tables
  = render 'tables'

%article#palette-swatch
  = render 'colors'